USE [master]
GO
/****** Object:  Database [Assigment]    Script Date: 11/23/2024 9:23:37 PM ******/
CREATE DATABASE [Assigment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assigment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Assigment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assigment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Assigment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assigment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assigment]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[ROLE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORYID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLOTHES]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLOTHES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYID] [int] NULL,
	[PRODUCTNAME] [nchar](20) NULL,
	[CURRENTPRICE] [money] NULL,
	[QUANTITY] [int] NULL,
	[COLOR] [nchar](15) NULL,
	[SIZE] [nchar](5) NULL,
	[IDLIST] [bit] NULL,
	[RowVersionColumn] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORYLOG]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORYLOG](
	[PRODUCTID] [int] NOT NULL,
	[IEDATE] [datetime] NOT NULL,
	[IOE] [bit] NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC,
	[IEDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLOTHES]  WITH CHECK ADD FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[INVENTORYLOG]  WITH CHECK ADD FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[CLOTHES] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllIdProducts]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllIdProducts]
AS
BEGIN
    SELECT ID FROM CLOTHES;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategories]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategories]
AS
BEGIN
    SELECT CATEGORYID, CATEGORYNAME
    FROM CATEGORY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryIdProduct]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategoryIdProduct]
    @ID INT
AS
BEGIN
    SELECT CATEGORYID
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryNameByCategoryId]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategoryNameByCategoryId]
    @CATEGORYID INT
AS
BEGIN
    SELECT CATEGORYNAME
    FROM CATEGORY
    WHERE CATEGORYID = @CATEGORYID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClotheById]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClotheById]
@ID INT = NULL
AS
BEGIN
    SELECT ID, CATEGORYID, PRODUCTNAME, CURRENTPRICE, QUANTITY, COLOR, SIZE, IDLIST
    FROM CLOTHES
    WHERE @ID IS NULL OR ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClothes]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClothes]
AS
BEGIN
SELECT ID, CATEGORYID, PRODUCTNAME, CURRENTPRICE, QUANTITY, COLOR, SIZE, IDLIST
FROM CLOTHES
ENd
GO
/****** Object:  StoredProcedure [dbo].[sp_GetColorProduct]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetColorProduct]
    @ID INT
AS
BEGIN
    SELECT COLOR
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCurrentPriceProduct]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCurrentPriceProduct]
    @ID INT
AS
BEGIN
    SELECT CURRENTPRICE
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetIdListProduct]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetIdListProduct]
    @ID INT
AS
BEGIN
    SELECT IDLIST
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductName]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductName]
    @ID INT
AS
BEGIN
    SELECT PRODUCTNAME
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuantityProduct]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetQuantityProduct]
    @ID INT
AS
BEGIN
    SELECT QUANTITY
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRowVersion]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRowVersion]
    @CATEGORYID INT,
    @PRODUCTNAME NVARCHAR(255),
    @COLOR NVARCHAR(50),
    @SIZE NVARCHAR(50)
AS
BEGIN
    SELECT RowVersionColumn
    FROM CLOTHES
    WHERE CATEGORYID = @CATEGORYID
      AND PRODUCTNAME = @PRODUCTNAME
      AND COLOR = @COLOR
      AND SIZE = @SIZE
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRowVersionById]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRowVersionById]
    @ID int
AS
BEGIN
    SELECT RowVersionColumn
    FROM CLOTHES
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSizeProduct]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSizeProduct]
    @ID INT
AS
BEGIN
    SELECT SIZE
    FROM CLOTHES
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClothesByID]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateClothesByID]
    @ID INT,                
    @CATEGORYID INT,       
    @PRODUCTNAME NCHAR(20),  
    @CURRENTPRICE MONEY,    
    @QUANTITY INT,           
    @COLOR NCHAR(15),        
    @SIZE NCHAR(5),    
    @IDLIST bit
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem sản phẩm có tồn tại với ID này không
    IF NOT EXISTS (SELECT 1 FROM dbo.CLOTHES WHERE ID = @ID)
    BEGIN
        RAISERROR('Không tìm thấy sản phẩm với ID được cung cấp.', 16, 1);
        RETURN;
    END

    -- Kiểm tra trùng thông tin CATEGORYID, PRODUCTNAME, COLOR, SIZE
    IF EXISTS (SELECT 1 
               FROM dbo.CLOTHES 
               WHERE CATEGORYID = @CATEGORYID 
                 AND PRODUCTNAME = @PRODUCTNAME
                 AND COLOR = @COLOR
                 AND SIZE = @SIZE 
                 AND ID != @ID)  -- Tránh trường hợp là sản phẩm hiện tại
    BEGIN
        RAISERROR('Sản phẩm với CATEGORYID, PRODUCTNAME, COLOR và SIZE này đã tồn tại.', 16, 1);
        RETURN;
    END

    -- Tiến hành cập nhật
    UPDATE dbo.CLOTHES
    SET CATEGORYID = @CATEGORYID,
        PRODUCTNAME = @PRODUCTNAME,
        CURRENTPRICE = @CURRENTPRICE,
        QUANTITY = @QUANTITY,
        COLOR = @COLOR,
        SIZE = @SIZE,
        IDLIST = @IDLIST
    WHERE ID = @ID;

    PRINT 'Dữ liệu đã được cập nhật thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertClothesStock]    Script Date: 11/23/2024 9:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertClothesStock]
    @CATEGORYID INT,         
    @PRODUCTNAME NCHAR(20),  
    @CURRENTPRICE MONEY,     
    @QUANTITY INT,           
    @COLOR NCHAR(15),        
    @SIZE NCHAR(5)              
AS
BEGIN
    IF @CURRENTPRICE <= 0
    BEGIN
        RAISERROR('Giá sản phẩm phải lớn hơn 0.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION 

    IF EXISTS (SELECT 1 
               FROM dbo.CLOTHES WITH (UPDLOCK)
               WHERE CATEGORYID = @CATEGORYID 
                 AND PRODUCTNAME = @PRODUCTNAME 
                 AND COLOR = @COLOR 
                 AND SIZE = @SIZE)
    BEGIN
        RAISERROR('Sản phẩm đã tồn tại trong kho với thông tin tương tự. Không thể thêm mới.', 16, 1);
        ROLLBACK TRANSACTION; 
        RETURN;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.CLOTHES (CATEGORYID, PRODUCTNAME, CURRENTPRICE, QUANTITY, COLOR, SIZE, IDLIST)
        VALUES (@CATEGORYID, @PRODUCTNAME, @CURRENTPRICE, @QUANTITY, @COLOR, @SIZE, 1);

        PRINT 'Thêm mới hàng tồn kho thành công!';
    END

    COMMIT TRANSACTION; 
END;
GO
USE [master]
GO
